/* PageNotFound.module.css */
.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}


.buttonContainer {
    text-align: center;
    margin-top: 40px;
}


